
.services_section_margins
{
    padding-bottom: 40px;
}

.services_section_tittle
{
    margin-top: 0px !important;
    padding-top: 40px;
    padding-bottom: 10px;
}

.service_section_services_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.service_section_services_item
{
    width: 35%;
    padding-bottom: 10px;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #24a139;
    border: 1px solid rgb(223, 223, 223);

}

.services_section_item_tittle
{
    width: 100%;
    text-align: center;
    margin-top:20px; 
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;
}

.services_section_item_text
{
    width: 80%;
    margin: 20px 10%;
    height: 190px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #FFF;

}


@media only screen and (max-width: 960px) 
{
    .service_section_services_container
    {
        flex-direction: column;
    }

    
    .services_section_item_tittle
    {
        font-size: 20px;
    }

    .services_section_item_text
    {
        font-size: 20px;
        height: auto;
    }

    .service_section_services_item
    {
        width: 70%;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 560px) 
{
    .service_section_services_item
    {
        width: 90%;
    }

}