
/*
NOTA: Se aplicaron estos colores con el fin de responder a la consigna, no se utilizaron diversas propiedades
de css que en la proxima entrega seran incorporadas. 
Dichos colores no son mas que repsentativos, y estos estilos serán removidos o modificados en procimas entregas
*/



*{
    padding: 0;
    margin: 0;
}

/* ESTILOS BASE */

h1,h2,h3
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #666;
}

h1.mainTittle
{
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
    text-shadow:5px 5px 15px #5a5a5a;
}




h2.mainTittle
{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow:2px 2px 8px #000000;
}

p
{
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    color: rgb(138, 138, 138);
    font-size: 20px;
}

label
{
    font-family: 'Asap', sans-serif;
    font-weight: 800;
    color: rgb(82, 82, 82);
}


.button
{
    padding: 15px 30px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: #239436;
    border: none;
    cursor: pointer;
}

.button_white
{
    padding: 15px 30px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #239436;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}



button:hover
{
    background-color: #58c75a;
}

button.button_white:hover
{
    background-color: #17752c;
    color: #FFF;
}


/* HEADER */

.logoContainer
{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img.logo
{
    width: 50%;
    height: auto;   
}

.header
{
    height: 800px;
}

section.mainSplash
{
    position:absolute;
    width: 100%;
    height: 250px;
    top: 0px;
    padding-top: 550px;
}
/*
nav.navbar
{
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    background-color: rgba(0, 0, 0, 0.356);
   
}

.navbarList
{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navItem
{
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2vw;
    color:#FFF;
    list-style-type: none;  
}



a.navlink:link 
{
    color:#FFF;
    text-decoration:none;
}
  
a.navlink:visited 
{
    color: #FFF;
    text-decoration:none;
}

*/


.mainSplash_home
{
    background-color: rgb(0, 0, 0);
    /*Esta imagen no va a ir*/ 
    background-image: url("../images/splash_home.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSplash_services
{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/servicios.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mainSplash_contact
{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/contacto.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSplash_blog
{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/blog.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSplash_aboutUs
{
    background-color: rgb(0, 0, 0);
    background-image: url("../images/nosotros.jpg");
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainSplashItem
{
    margin-left: 5%;
}

/* FIN DE HEADER */ 


/* INICIO DE HOME */ 

.home_section
{
    padding: 40px 10%;
    display:flex;
    flex-direction: column;
}

.home_section_bg
{
    background-color: #30c147;
}

/*
h2.home_section_tittle
{
    width: 100%;
    height: 20%;
    margin:20px 0;
    margin-bottom: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
*/


.home_section_tittle_white
{
    color: white;
}

.home_section_content
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home_section_content_image_content
{
    width: 40%;
    height: 100%;
    padding: 20px;
}

.home_section_content_info_content
{
    width: 60%;
    height: 100%;
}

.home_section_content_info_content_subtittle
{
    padding: 15px 15px;
    text-align: center;
    width: 90%;
    font-size: 25px;
}

.home_section_content_info_content_paragraph
{
    padding: 15px 15px;
    width: 90%;
    text-align: justify;
}

.home_section_content_info_content_button
{
    display: flex;
    flex-direction: row-reverse;
    padding: 0px 15px;
    width: 90%;
}

/*SERVICIOS*/

.home_section_service_margins
{
    padding-bottom: 40px;
}

.home_section_tittle_services
{
    color: white;
    margin-top: 0px !important;
    padding-top: 0px;
    padding-bottom: 10px;
}

.home_section_services
{
    padding-top: 0px;
}

.home_section_services_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home_section_services_header
{
    width: 100%;
    height: auto;
}

.home_section_services_item
{
    width: 35%;
    padding-bottom: 10px;
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.home_section_services_item_image
{
    width: 100%;
    overflow: hidden;
    height: auto;
    max-height: 400px;
}
.home_section_services_item_tittle
{
    width: 100%;
    text-align: center;
    margin-top:20px; 
    text-overflow: ellipsis;
    overflow: hidden;
}

.home_section_services_item_text
{
    width: 80%;
    margin: 20px 10%;
    height: 220px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

}

.home_section_services_item_button
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home_service_bottom
{
    background-color: #24a139;
    height: 15px;
    width: 100%;
    margin-top: 25px;
}


/* HOME BLOG*/
.home_blog_article
{
    /*margin: 20px 0px;
    padding: 40px;*/
    border: 1px solid #CCC;
}


.home_blog_thumb
{
    width: 20%;
}

.home_blog_article_text_container
{
    width: 80%;
    margin: 20px 30px;
   
}

.home_blog_article
{
    margin: 30px 0px;
}
.home_blog_article_data
{
    display: flex;
    flex-direction: row;

}
.home_blog_article_tittle
{
    margin: 10px 0px;
}

.home_blog_article_text
{
    margin: 10px 0px;
}

.home_blog_article_readmore_containe
{
    display: flex;
    flex-direction: column;
    text-align:right ;
    width: 100%;
}

.home_blog_button_container
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home_blog_button
{
    margin-right: 0px;
}

/*FOOTER*/

.footer_grid
{
    display: grid;
    grid-template-areas:
    "footerBorder footerBorder footerBorder footerBorder"
    "footerLogo . . logo_fb"
    "footerLogo . . logo_insta"
    "footerLogo dis . logo_twitter"
    "footerLogo . . .";

    grid-template-columns: 2fr 6fr 1fr 1fr; 
	grid-template-rows: 1fr 2fr 2fr 2fr ;
    grid-row-gap: 10px;
    align-items: center;
    justify-content:center;
    
}


footer
{
    background-color:  #30c147;
}

.footerBorder
{
    height: 100%;
    grid-area: footerBorder;
    background-color: #24a139;
}

.footer_logoContainer_main
{
    grid-area: footerLogo;
  
}

.footer_logoImage
{
    width:50%;
    padding-left: 40px;
}

.footer_logoContainer_fb
{
    grid-area: logo_fb;
}
.footer_logoContainer_insta
{
    grid-area: logo_insta;
}
.footer_logoContainer_twitter
{
    grid-area: logo_twitter;
}
.footer_disclaimerContainer
{
    grid-area: dis;
    text-align: center;
   
}
.footer_diclaimerText
{
    color: #FFF;
    font-size: 20px;
}

.footer_social_logo
{
    width: auto;
    height: 100%;
}

.footer_social_logo_container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_social_text
{
    color: #FFF;
    font-size: 18px;
}


@media only screen and (max-width: 1920px) 
{
    .home_section_services_item_text
    {
        height: 300px;
    }
}

@media only screen and (max-width: 1280px) 
{
    .home_section_services_item_text
    {
        height: 330px;

    }
}

@media only screen and (max-width: 1100px) 
{
    .home_section_services_item_text
    {
        height: 430px;

    }
}



@media only screen and (max-width: 960px) 
{


    .logoContainer
    {
        width: 40%;
        height: 100%;
        min-width: 200px;
    }

    .home_section_content
    {
        align-items: center;
        flex-direction: column-reverse;
    }

    .home_section_content_info_content
    {
        width: 100%;
    }

    .home_section_content_image_content
    {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    /* ABOUT US */
    h2.home_section_tittle
    {
        text-align: center;
    }
    /* HOME SERVICIOS */

    .home_section_services_container
    {
        flex-direction: column;
    }
    

    .home_section_services_item_tittle
    {
        font-size: 20px;
    }

    .home_section_services_item_text
    {
        font-size: 20px;
        height: auto;
    }

    .home_section_services_item
    {
        width: 70%;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .home_blog_article_data
    {
        display: flex;
        flex-direction: column;

    }

    .home_blog_thumb
    {
        width: 100%;
    }

    .footer_disclaimerContainer
    {
        opacity: 0;
    }

    .footer_logoContainer_main
    {
        width: 250px;
        position: absolute;
    }

    .footer_grid
    {
        display: grid;
        grid-template-areas:
        "footerBorder footerBorder footerBorder footerBorder"
        "footerLogo .  logo_fb ."
        "footerLogo .  logo_insta ."
        "footerLogo dis  logo_twitter ."
        "footerLogo . . .";

        grid-template-columns: 2fr 6fr 1fr 1fr; 
        grid-template-rows: 1fr 2fr 2fr 2fr ;
        grid-row-gap: 10px;
        align-items: center;
        justify-content:center;
    
    }
    
}




@media only screen and (max-width: 560px) 
{

    /*NAV BAR */ 
    .logoContainer
    {
        width: 100%;
        height: 100%;
    }

    img.logo 
    {
        width: 25%;
        height: auto;
    }

    h1.mainTittle
    {
        font-size: 40px;
    }

    h2.mainTittle
    {
        font-size: 20px;
    }

    /*NAV BAR */
    nav.navbar
    {
        flex-direction: column;
        align-items: center;
    
    }

    .navbarList
    {
        width:100%;
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navItem
    {
        font-size: 1.6vw;
    }

    /* ABOUT US */
    h2.home_section_tittle
    {
        font-size: 25px;
        padding-top: 10PX;
        text-align: center;
    }

    .home_section_content_info_content_subtittle
    {
        font-size: 18px;
    }

    .home_section_content_info_content_button
    {
        justify-content: center;
    }

    .home_section_services_item
    {
        width: 90%;
    }



}


